@page
@model Iteracion_2.Pages.Articulos.Articulos
@{
    ViewData["Title"] = "Articulos";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Shieldship | Articulos</title>
    
    <link rel="stylesheet" type="text/css" href="~/css/border-radius.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
</head>

<body>

    <h3><strong>Mostrando todos los artículos.</strong></h3>
    <br />

    <table id="myTable" class="display">
        <thead>
            <tr>
                @for (int index = 0; index < Model.Columnas.Length;index++) {
                    <th>@Model.Columnas[index]</th>
                }
            </tr>
        </thead>
        <tbody>
            <!--Aquí hacer el for con los datos-->
            @for (int index = 0; index < Model.ArticulosList.Count; index++) {
                        // 0 = artid 1 = titulo 2 = resumen 3 = autores 4 = usuarios
                        String[] autores = Model.ArticulosList[index][3].Split(",");
                        String[] usuarios = Model.ArticulosList[index][4].Split(",");

                <tr>
                    <td>@Model.ArticulosList[index][1]</td>
                    <td>@Model.ArticulosList[index][2]</td>
                    <td>
                        @for (int indexJ = 0; indexJ < autores.Length; indexJ++) {
                            <a href="~/Perfil/Perfil?UsuarioURL=@usuarios[indexJ]">@autores[indexJ]</a>
                        }
                    </td>
                    <td>
                        <a href="~/Articulos/Detalles?ID=@Model.ArticulosList[index][0]">Ver más</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts{
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>

    }
</body>
</html>



