@page
@model Iteracion_2.Pages.Articulos.Detalles
@{
    ViewData["Title"] = "Detalles";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Shieldship | Detalles</title>
    <link rel="stylesheet" type="text/css" href="~/css/border-radius.css" />
</head>

<body>
    <h3>ID del articulo actual: @Model.idArticulo</h3>
</body>
</html>



