USE [master]
GO
/****** Object:  Database [BD_Calidad]    Script Date: 10/7/2020 5:35:14 PM ******/
CREATE DATABASE [BD_Calidad]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_Calidad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_Calidad]
GO
/****** Object:  Table [dbo].[Art_Topico]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Art_Topico](
	[topicoIdFK] [int] NOT NULL,
	[artIdFK] [int] NOT NULL,
 CONSTRAINT [PK_ArticuloTopico] PRIMARY KEY CLUSTERED 
(
	[topicoIdFK] ASC,
	[artIdFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[artIdPK] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](450) NULL,
	[resumen] [varchar](max) NULL,
	[contenido] [varbinary](max) NOT NULL,
	[puntuacionInicial] [int] NULL,
	[visitas] [int] NULL,
	[estado] [varchar](20) NULL,
	[tipoArt] [varchar](10) NOT NULL,
	[nombreArchivo] [varchar](50) NULL,
	[fecha] [date] NULL,
	[noMeGusta] [int] NULL,
	[meGusta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[artIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Miembro]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Miembro](
	[nombreUsuarioPK] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NULL,
	[pesoMiembro] [int] NULL,
	[telefono] [varchar](20) NULL,
	[informacionBiografica] [varchar](max) NULL,
	[pais] [varchar](50) NULL,
	[habilidades] [varchar](max) NULL,
	[idiomas] [varchar](max) NULL,
	[hobbies] [varchar](max) NULL,
	[informacionLaboral] [varchar](max) NULL,
	[correo] [varchar](50) NULL,
	[merito] [float] NULL,
	[tipo] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[nombreUsuarioPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Miembro_Articulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Miembro_Articulo](
	[nombreUsuarioFK] [varchar](50) NOT NULL,
	[artIdFK] [int] NOT NULL,
 CONSTRAINT [PK_ArticuloMiembro] PRIMARY KEY CLUSTERED 
(
	[nombreUsuarioFK] ASC,
	[artIdFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nucleo_Revisa_Articulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nucleo_Revisa_Articulo](
	[nombreUsuarioFK] [varchar](50) NOT NULL,
	[artIdFK] [int] NOT NULL,
	[estadoRevision] [varchar](20) NULL,
	[puntuacion] [float] NULL,
	[comentarios] [varchar](max) NULL,
	[opinion] [int] NULL,
	[contribucion] [int] NULL,
	[forma] [int] NULL,
 CONSTRAINT [PK_Nucleo_Revisa_Articulo] PRIMARY KEY CLUSTERED 
(
	[nombreUsuarioFK] ASC,
	[artIdFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nucleo_Solicita_Articulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nucleo_Solicita_Articulo](
	[nombreUsuarioFK] [varchar](50) NOT NULL,
	[artIdFK] [int] NOT NULL,
	[estadoSolicitud] [varchar](20) NULL,
 CONSTRAINT [PK_Nucleo_Solicita_Articulo] PRIMARY KEY CLUSTERED 
(
	[nombreUsuarioFK] ASC,
	[artIdFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pregunta_Frecuente]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pregunta_Frecuente](
	[pregIdPK] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuarioFK] [varchar](50) NULL,
	[pregunta] [varchar](max) NOT NULL,
	[respuesta] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pregIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topico]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topico](
	[topicoIdPK] [int] IDENTITY(1,1) NOT NULL,
	[categoria] [varchar](150) NOT NULL,
	[nombre] [varchar](150) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Art_Topico] ([topicoIdFK], [artIdFK]) VALUES (1, 7)
INSERT [dbo].[Art_Topico] ([topicoIdFK], [artIdFK]) VALUES (1, 9)
INSERT [dbo].[Art_Topico] ([topicoIdFK], [artIdFK]) VALUES (1, 10)
SET IDENTITY_INSERT [dbo].[Articulo] ON 

INSERT [dbo].[Articulo] ([artIdPK], [titulo], [resumen], [contenido], [puntuacionInicial], [visitas], [estado], [tipoArt], [nombreArchivo], [fecha], [noMeGusta], [meGusta]) VALUES (1, N'La travesía', N'El artículo de la travesia', 0x456C20636F6E74656E69646F206465206C61207472617665736961, 5, 2, N'cambios', N'corto', NULL, CAST(N'2020-06-18' AS Date), 2, 123)
INSERT [dbo].[Articulo] ([artIdPK], [titulo], [resumen], [contenido], [puntuacionInicial], [visitas], [estado], [tipoArt], [nombreArchivo], [fecha], [noMeGusta], [meGusta]) VALUES (2, N'Harry Potter', N'El artículo de la harry potter', 0x456C20636F6E74656E69646F20646520686172727920706F74746572, 5, 2, N'revision', N'corto', NULL, CAST(N'2020-06-18' AS Date), 5, 13)
INSERT [dbo].[Articulo] ([artIdPK], [titulo], [resumen], [contenido], [puntuacionInicial], [visitas], [estado], [tipoArt], [nombreArchivo], [fecha], [noMeGusta], [meGusta]) VALUES (3, N'La liga campeón', N'La liga campeón 2020', 0x4C61206C6967612063616D7065F36E2032303230, 5, 8, N'cambios', N'corto', NULL, CAST(N'2020-06-24' AS Date), 8, 12)
SET IDENTITY_INSERT [dbo].[Articulo] OFF
INSERT [dbo].[Miembro] ([nombreUsuarioPK], [nombre], [apellido], [pesoMiembro], [telefono], [informacionBiografica], [pais], [habilidades], [idiomas], [hobbies], [informacionLaboral], [correo], [merito], [tipo]) VALUES (N'buendia', N'Edgar', N'Silva', 0, N'12345678', N'Vivo en un pais frio', N'Alaska', N'otro, ajedrez, matematicas', N'Mandarin', N'leer, escribir', N'telenoticias', N'edgar@silva.com', 0, N'periferico')
INSERT [dbo].[Miembro] ([nombreUsuarioPK], [nombre], [apellido], [pesoMiembro], [telefono], [informacionBiografica], [pais], [habilidades], [idiomas], [hobbies], [informacionLaboral], [correo], [merito], [tipo]) VALUES (N'Coordinador', N'Peter', N'Parker', 5, N'89562310', N'Tengo varias identidades', N'Costa Rica', N'deporte, cocina, otro', N'Español, Inglés', N'leer', N'No breteo', N'comunidadshieldship@gmail.com', 55, N'coordinador')
INSERT [dbo].[Miembro] ([nombreUsuarioPK], [nombre], [apellido], [pesoMiembro], [telefono], [informacionBiografica], [pais], [habilidades], [idiomas], [hobbies], [informacionLaboral], [correo], [merito], [tipo]) VALUES (N'Dasc12', N'David', N'Solorzano', 5, N'84773444', N'Soy de Heredia', N'Costa Rica', N'deporte, cocina, ajedrez, matematicas, otro', N'Español, Ingles', N'ejercicio, videojuegos, leer', N'Tengo experiencia en servicio al cliente', N'elpelucon@sabe.com', 55, N'nucleo')
INSERT [dbo].[Miembro_Articulo] ([nombreUsuarioFK], [artIdFK]) VALUES (N'buendia', 4)
INSERT [dbo].[Miembro_Articulo] ([nombreUsuarioFK], [artIdFK]) VALUES (N'buendia', 6)
INSERT [dbo].[Miembro_Articulo] ([nombreUsuarioFK], [artIdFK]) VALUES (N'buendia', 12)
INSERT [dbo].[Nucleo_Revisa_Articulo] ([nombreUsuarioFK], [artIdFK], [estadoRevision], [puntuacion], [comentarios], [opinion], [contribucion], [forma]) VALUES (N'Coordinador', 1, N'cambios', 45, N'Muy bueno.', NULL, NULL, NULL)
INSERT [dbo].[Nucleo_Revisa_Articulo] ([nombreUsuarioFK], [artIdFK], [estadoRevision], [puntuacion], [comentarios], [opinion], [contribucion], [forma]) VALUES (N'Coordinador', 2, N'revisado', 25, N'Funcione porfa', NULL, NULL, NULL)
INSERT [dbo].[Nucleo_Revisa_Articulo] ([nombreUsuarioFK], [artIdFK], [estadoRevision], [puntuacion], [comentarios], [opinion], [contribucion], [forma]) VALUES (N'Coordinador', 4, N'cambios', 25, N'Inspirador', NULL, NULL, NULL)
INSERT [dbo].[Nucleo_Solicita_Articulo] ([nombreUsuarioFK], [artIdFK], [estadoSolicitud]) VALUES (N'Dasc12', 10, N'solicitado')
INSERT [dbo].[Nucleo_Solicita_Articulo] ([nombreUsuarioFK], [artIdFK], [estadoSolicitud]) VALUES (N'IvanCh123', 10, N'aceptado')
INSERT [dbo].[Nucleo_Solicita_Articulo] ([nombreUsuarioFK], [artIdFK], [estadoSolicitud]) VALUES (N'otarola506', 10, N'solicitado')
SET IDENTITY_INSERT [dbo].[Topico] ON 

INSERT [dbo].[Topico] ([topicoIdPK], [categoria], [nombre]) VALUES (2, N'Deportes', N'Fútbol')
INSERT [dbo].[Topico] ([topicoIdPK], [categoria], [nombre]) VALUES (6, N'Estadística', N'Inferencial')
INSERT [dbo].[Topico] ([topicoIdPK], [categoria], [nombre]) VALUES (1, N'Ingeniería de Software', N'Programación')
SET IDENTITY_INSERT [dbo].[Topico] OFF
/****** Object:  Index [PK_TopicoIdPk]    Script Date: 10/7/2020 5:35:14 PM ******/
ALTER TABLE [dbo].[Topico] ADD  CONSTRAINT [PK_TopicoIdPk] PRIMARY KEY NONCLUSTERED 
(
	[topicoIdPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pregunta_Frecuente] ADD  DEFAULT ((-1)) FOR [nombreUsuarioFK]
GO
ALTER TABLE [dbo].[Art_Topico]  WITH CHECK ADD  CONSTRAINT [FK_Art_Topico_Articulo] FOREIGN KEY([artIdFK])
REFERENCES [dbo].[Articulo] ([artIdPK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Art_Topico] CHECK CONSTRAINT [FK_Art_Topico_Articulo]
GO
ALTER TABLE [dbo].[Art_Topico]  WITH CHECK ADD  CONSTRAINT [FK_Art_Topico_Topico] FOREIGN KEY([topicoIdFK])
REFERENCES [dbo].[Topico] ([topicoIdPK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Art_Topico] CHECK CONSTRAINT [FK_Art_Topico_Topico]
GO
ALTER TABLE [dbo].[Miembro_Articulo]  WITH CHECK ADD  CONSTRAINT [FK_Escribe_Articulo] FOREIGN KEY([artIdFK])
REFERENCES [dbo].[Articulo] ([artIdPK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Miembro_Articulo] CHECK CONSTRAINT [FK_Escribe_Articulo]
GO
ALTER TABLE [dbo].[Miembro_Articulo]  WITH CHECK ADD  CONSTRAINT [FK_Escribe_Miembro] FOREIGN KEY([nombreUsuarioFK])
REFERENCES [dbo].[Miembro] ([nombreUsuarioPK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Miembro_Articulo] CHECK CONSTRAINT [FK_Escribe_Miembro]
GO
ALTER TABLE [dbo].[Nucleo_Revisa_Articulo]  WITH CHECK ADD  CONSTRAINT [FK_Nucleo_Revisa_Articulo_Articulo] FOREIGN KEY([artIdFK])
REFERENCES [dbo].[Articulo] ([artIdPK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nucleo_Revisa_Articulo] CHECK CONSTRAINT [FK_Nucleo_Revisa_Articulo_Articulo]
GO
ALTER TABLE [dbo].[Nucleo_Revisa_Articulo]  WITH CHECK ADD  CONSTRAINT [FK_Nucleo_Revisa_Articulo_Miembro] FOREIGN KEY([nombreUsuarioFK])
REFERENCES [dbo].[Miembro] ([nombreUsuarioPK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nucleo_Revisa_Articulo] CHECK CONSTRAINT [FK_Nucleo_Revisa_Articulo_Miembro]
GO
ALTER TABLE [dbo].[Nucleo_Solicita_Articulo]  WITH CHECK ADD  CONSTRAINT [FK_Nucleo_Solicita_Articulo_Articulo] FOREIGN KEY([artIdFK])
REFERENCES [dbo].[Articulo] ([artIdPK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nucleo_Solicita_Articulo] CHECK CONSTRAINT [FK_Nucleo_Solicita_Articulo_Articulo]
GO
ALTER TABLE [dbo].[Nucleo_Solicita_Articulo]  WITH CHECK ADD  CONSTRAINT [FK_Nucleo_Solicita_Articulo_Miembro] FOREIGN KEY([nombreUsuarioFK])
REFERENCES [dbo].[Miembro] ([nombreUsuarioPK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nucleo_Solicita_Articulo] CHECK CONSTRAINT [FK_Nucleo_Solicita_Articulo_Miembro]
GO
ALTER TABLE [dbo].[Pregunta_Frecuente]  WITH CHECK ADD  CONSTRAINT [FK_Pregunta_Miembro] FOREIGN KEY([nombreUsuarioFK])
REFERENCES [dbo].[Miembro] ([nombreUsuarioPK])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[Pregunta_Frecuente] CHECK CONSTRAINT [FK_Pregunta_Miembro]
GO
/****** Object:  StoredProcedure [dbo].[AumentarMeritoAutor]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AumentarMeritoAutor]
	@nombreUsuario varchar(50),
	@aumento int
AS
	Update Miembro
	SET merito = merito + @aumento
	WHERE Miembro.nombreUsuarioPK = @nombreUsuario
GO
/****** Object:  StoredProcedure [dbo].[Borrar_Articulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Borrar_Articulo] 
(
	@ID int
)
AS
BEGIN 
DELETE FROM dbo.Articulo
WHERE artIdPK = @ID 
END
GO
/****** Object:  StoredProcedure [dbo].[Borrar_Categoria]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Borrar_Categoria] (
	@ID int

)
AS
BEGIN 
DELETE FROM dbo.Art_Categoria
WHERE artIdFK = @ID 
END
GO
/****** Object:  StoredProcedure [dbo].[BorrarPreguntaFrecuente]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BorrarPreguntaFrecuente]
(
	@PregID INT
)
AS
BEGIN
	DELETE FROM dbo.Pregunta_Frecuente 
	WHERE pregIdPK = @PregID
END
GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoArticulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarEstadoArticulo]
(
	@ArtID INT,
	@ESTADO VARCHAR(20)
)
AS
BEGIN 
	UPDATE dbo.Articulo 
	SET estado = @ESTADO
	WHERE artIdPK = @ArtID
END
GO
/****** Object:  StoredProcedure [dbo].[CrearCuenta]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearCuenta]
(@nombreUsuario VARCHAR(50), @nombre VARCHAR(50), @apellido  VARCHAR(50), @correo VARCHAR(50),@pais VARCHAR(50), @idioma VARCHAR(50), @habilidades VARCHAR(MAX), @hobbies VARCHAR(MAX))
AS
	INSERT INTO dbo.Miembro 
	VALUES(@nombreUsuario, @nombre, @apellido,0,'','',@pais,@habilidades,@idioma,@hobbies,'',@correo,0,'periferico')
GO
/****** Object:  StoredProcedure [dbo].[CrearPerfil]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearPerfil]
(@nombreUsuarioFK VARCHAR(50), @infoLaboral VARCHAR(MAX), @infoBiografico VARCHAR(max), @telefono VARCHAR(20), @correo VARCHAR(20), @merito FLOAT)
AS
	INSERT INTO dbo.Perfil (nombreUsuarioFK,informacionLaboral,informacionBiografica,telefono,correo, merito)
	VALUES(@nombreUsuarioFK, @infoLaboral, @infoBiografico, @telefono, @correo , @merito)
GO
/****** Object:  StoredProcedure [dbo].[DisminuirMeritoAutor]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DisminuirMeritoAutor]
	@nombreUsuario varchar(50),
	@aumento int
AS
	Update Miembro
	SET merito = merito - @aumento
	WHERE Miembro.nombreUsuarioPK = @nombreUsuario
GO
/****** Object:  StoredProcedure [dbo].[DisminuirPuntuacion]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DisminuirPuntuacion]
	@artID int,
	@valor int
AS
	Update Articulo
	SET puntuacionInicial = puntuacionInicial - @valor
	WHERE Articulo.artIdPK = @artID
GO
/****** Object:  StoredProcedure [dbo].[EditarPreguntaFrecuente]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditarPreguntaFrecuente]
(
	@Pregunta VARCHAR (MAX),
	@Respuesta VARCHAR (MAX),
	@PregID INT
)
AS
BEGIN 
	UPDATE dbo.Pregunta_Frecuente 
	SET pregunta = @Pregunta, respuesta = @Respuesta
	WHERE pregIdPK = @PregID
END
GO
/****** Object:  StoredProcedure [dbo].[Guardar_Catergoria_Articulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Guardar_Catergoria_Articulo] (@artID int, @catId int)
AS
	INSERT INTO Art_Categoria VALUES (@catId,@artID)
GO
/****** Object:  StoredProcedure [dbo].[Guardar_Miembro_Articulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Guardar_Miembro_Articulo](@artID int, @miembroId varchar(50) )

AS
	INSERT INTO Miembro_Articulo VALUES (@miembroId,@artID)
GO
/****** Object:  StoredProcedure [dbo].[GuardarPreguntaFrecuente]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarPreguntaFrecuente]
(
	@Pregunta VARCHAR (MAX),
	@Respuesta VARCHAR (MAX),
	@Username VARCHAR (50)
)
AS
BEGIN 
	INSERT INTO Pregunta_Frecuente (pregunta, respuesta, nombreUsuarioFK) 
	VALUES(@Pregunta, @Respuesta, @Username)
END
GO
/****** Object:  StoredProcedure [dbo].[IncrementarVisitas]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncrementarVisitas]
	@artID int
AS
	Update Articulo
	SET visitas = visitas + 1
	Where artIdPK = @artID
GO
/****** Object:  StoredProcedure [dbo].[ingresarPuntuacionAutor]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ingresarPuntuacionAutor]
	@puntuacion float,
	@miembroID varchar(50)
AS
	UPDATE Perfil
	SET merito = merito + @puntuacion
	WHERE nombreUsuarioFK = @miembroID
GO
/****** Object:  StoredProcedure [dbo].[Modificar_Articulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Modificar_Articulo](
	@ID int,
	@tituloNuevo varchar(max),
	@resumenNuevo varbinary(max),
	@contenidoNuevo varBinary(max)
) 
as
BEGIN
UPDATE dbo.Articulo
SET titulo=@tituloNuevo,
resumen=@resumenNuevo,
contenido=@contenidoNuevo
WHERE artIdPK = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[Modificar_Articulo_Largo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Modificar_Articulo_Largo](
	@ID int,
	@tituloNuevo varchar(max),
	@resumenNuevo varbinary(max),
	@contenidoNuevo   varbinary(max),
	@estadoNuevo      varchar(20),
	@nombreArch       varchar(50)

) 
as
BEGIN
UPDATE dbo.Articulo
SET titulo=@tituloNuevo,
resumen=@resumenNuevo,
contenido=@contenidoNuevo,
estado=@estadoNuevo,
nombreArchivo = @nombreArch
WHERE artIdPK = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[Modificar_Articulo_Y_Revision]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Modificar_Articulo_Y_Revision]
(
	@ID int,
	@tituloNuevo varchar(max),
	@resumenNuevo varbinary(max),
	@contenidoNuevo varBinary(max),
	@estadoNuevo varchar(20)
) 
AS
BEGIN
	UPDATE dbo.Articulo
	SET titulo=@tituloNuevo,
	resumen=@resumenNuevo,
	contenido=@contenidoNuevo,
	estado = @estadoNuevo
	WHERE artIdPK = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[Modificar_Titulo_Resumen]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Modificar_Titulo_Resumen](
	@ID int,
	@tituloNuevo varchar(max),
	@resumenNuevo varbinary(max),
	@estadoNuevo      varchar(20)
) 
as
BEGIN
UPDATE dbo.Articulo
SET titulo=@tituloNuevo,
resumen=@resumenNuevo,
estado=@estadoNuevo
WHERE artIdPK = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarPeso]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarPeso]
	@nombreUsuario varchar(50),
	@peso int
AS
	Update Miembro
	Set pesoMiembro = @peso
	WHERE nombreUsuarioPK = @nombreUsuario
GO
/****** Object:  StoredProcedure [dbo].[ModificarPuntuacion]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarPuntuacion]
	@artID int,
	@valor int
AS
	Update Articulo
	SET puntuacionInicial = puntuacionInicial + @valor
	WHERE Articulo.artIdPK = @artID
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Autores_Articulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Mostrar_Autores_Articulo](
	@articuloId INT
)
AS 
SELECT M.nombre
FROM dbo.Miembro M JOIN dbo.Miembro_Articulo  MA
ON M.nombreUsuarioPK = MA.nombreUsuarioFK
JOIN dbo.Articulo A 
ON MA.artIdFK = A.artIdPK
WHERE artIdFK = @articuloId
GO
/****** Object:  StoredProcedure [dbo].[Mostrar_Categoria_Articulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Mostrar_Categoria_Articulo](
	@ID int

)
AS
BEGIN
SELECT C.nombre
FROM Articulo A JOIN Art_Categoria AC
ON A.artIdPK = AC.artIdFK
JOIN Categoria C ON C.categoriaIdPk = AC.categoriaIdFk
WHERE A.artIdPK = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[Obtener_articuloId]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Obtener_articuloId](@titulo varchar(max))
AS
	SELECT A.artIdPK
	FROM Articulo A
	Where A.titulo = @titulo
GO
/****** Object:  StoredProcedure [dbo].[Obtener_CategoriaID]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Obtener_CategoriaID] (@nombre varchar(20))
AS
	SELECT C.categoriaIdPK
	FROM Categoria C
	WHERE C.nombre = @nombre
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCorreo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerCorreo](@nombreUsuario varchar(50))
AS
	SELECT P.correo
	FROM Miembro P
	WHERE P.nombreUsuarioPK = @nombreUsuario
GO
/****** Object:  StoredProcedure [dbo].[obtenerMiembroID]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obtenerMiembroID](@nombre varchar(50))
AS
	SELECT M.nombreUsuarioPK
	FROM Miembro M
	WHERE M.nombre = @nombre
GO
/****** Object:  StoredProcedure [dbo].[Recuperar_Categorias]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Recuperar_Categorias]

AS
	SELECT C.nombre
	From Categoria C
GO
/****** Object:  StoredProcedure [dbo].[Recuperar_Correos]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Recuperar_Correos]
AS
BEGIN 
SELECT correo
FROM Perfil
END;
GO
/****** Object:  StoredProcedure [dbo].[RecuperarArticulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RecuperarArticulo](
	@ID int
)
AS
SELECT * 
FROM Articulo
WHERE artIdPK = @ID
GO
/****** Object:  StoredProcedure [dbo].[RecuperarAutores]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RecuperarAutores]
	@artID int
AS
	SELECT MA.nombreUsuarioFK
	FROM Miembro_Articulo MA
	WHERE MA.artIdFK = @artID
GO
/****** Object:  StoredProcedure [dbo].[RecuperarEstadoArticulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RecuperarEstadoArticulo]
	@artID int
AS
	SELECT A.estado
	FROM Articulo A
	WHERE A.artIdPK = @artID

GO
/****** Object:  StoredProcedure [dbo].[RecuperarPesoMiembro]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RecuperarPesoMiembro]
	@NombreUsuario VarChar(50)
AS
	SELECT M.pesoMiembro,M.tipo
	FROM Miembro M
	WHERE M.nombreUsuarioPK = @NombreUsuario
GO
/****** Object:  StoredProcedure [dbo].[RecuperarPreguntasFrecuentes]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RecuperarPreguntasFrecuentes]
AS
BEGIN
	SELECT * 
	FROM dbo.Pregunta_Frecuente
END
GO
/****** Object:  StoredProcedure [dbo].[RecuperarPuntuacionArticulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RecuperarPuntuacionArticulo]
	@artID int
AS
	SELECT A.puntuacionInicial
	FROM Articulo A
	WHERE A.artIdPK = @artID
GO
/****** Object:  StoredProcedure [dbo].[RecuperarTodosUsuarios]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RecuperarTodosUsuarios]
AS
SELECT M.nombreUsuarioPK, M.nombre, P.correo, P.merito, M.pesoMiembro
FROM dbo.Miembro M JOIN dbo.Perfil P
	 ON M.nombreUsuarioPK = P.nombreUsuarioFK
ORDER BY M.pesoMiembro DESC, M.nombre ASC
GO
/****** Object:  StoredProcedure [dbo].[RetornarDatosPerfil]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetornarDatosPerfil]
	@userName VARCHAR(50)
AS

SELECT M.nombre, M.pesoMiembro, M.informacionLaboral, M.informacionBiografica, M.telefono, M.correo, M.merito
FROM dbo.Miembro M
WHERE M.nombreUsuarioPK = @userName
GO
/****** Object:  StoredProcedure [dbo].[RetornarNombreUsuario]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetornarNombreUsuario]
	@nombreM varChar(50)
AS
	SELECT M.nombreUsuarioPK
	From Miembro M
	Where M.nombre = @nombreM
GO
/****** Object:  StoredProcedure [dbo].[USP_GuardarArticulos]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GuardarArticulos] 
(@titulo VARCHAR(max), @resumen VARCHAR(MAX), @contenido VARBINARY(max),@puntuacion FLOAT,@visitas INT  , @estado VARCHAR(20) , @tipoArt VARCHAR(10),@nombreArchivo VARCHAR(50),@fecha DATE,@like INT,@dislike INT)

AS
	INSERT INTO Articulo
	VALUES(@titulo, @resumen, @contenido, @puntuacion,@visitas, @estado,@tipoArt,@nombreArchivo,@fecha,@like,@dislike)
GO
/****** Object:  StoredProcedure [dbo].[USP_RecuperarArticuloPorTitulo]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RecuperarArticuloPorTitulo](@titulo VARCHAR(MAX))

AS

SELECT A.artIdPK, A.titulo, A.resumen
FROM Articulo A
WHERE A.titulo LIKE '%'+@titulo+'%'
GO
/****** Object:  StoredProcedure [dbo].[USP_RecuperarArticuloPorTopico]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RecuperarArticuloPorTopico](@Id int)

AS

SELECT DISTINCT A.artIdPK, A.titulo, A.resumen
FROM Articulo A JOIN dbo.Art_Topico AT
	ON A.artIdPK = AT.artIdFK
JOIN dbo.Topico T
	ON AT.topicoIdFK = T.topicoIdPK
WHERE T.topicoIdPK = @Id
GO
/****** Object:  StoredProcedure [dbo].[USP_RecuperarArticulos]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RecuperarArticulos]

AS
SELECT DISTINCT A.artIdPK, A.titulo, A.resumen
FROM Articulo A
GO
/****** Object:  StoredProcedure [dbo].[USP_RecuperarArticuloTituloTopico]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RecuperarArticuloTituloTopico](
	@Id int, 
	@titulo varchar(max)
)

AS

SELECT DISTINCT A.artIdPK, A.titulo, A.resumen
FROM Articulo A JOIN dbo.Art_Topico AT
	ON A.artIdPK = AT.artIdFK
JOIN dbo.Topico T
	ON AT.topicoIdFK = T.topicoIdPK
WHERE (T.topicoIdPK = @Id AND A.titulo LIKE '%'+@titulo+'%')
GO
/****** Object:  StoredProcedure [dbo].[USP_RecuperarDatosPerfil]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RecuperarDatosPerfil]
	@nombreUsuario varchar(50)
AS
SELECT M.nombre,M.apellido, M.pesoMiembro, M.informacionLaboral, M.informacionBiografica, M.telefono, M.correo, M.merito, M.pais, M.habilidades, M.idiomas, M.hobbies
FROM dbo.Miembro M 
WHERE M.nombreUsuarioPK = @nombreUsuario
GO
/****** Object:  StoredProcedure [dbo].[VerificarNombreUsuario]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerificarNombreUsuario]
(@nombreUsuario VARCHAR(50))
AS
	IF(EXISTS(SELECT * FROM Miembro WHERE nombreUsuarioPK = @nombreUsuario))
	BEGIN
		SELECT 1;
	END
	ELSE
	BEGIN
		SELECT 0
	END
GO
/****** Object:  Trigger [dbo].[TR_AU_BorrarRevisiones]    Script Date: 10/7/2020 5:35:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_AU_BorrarRevisiones] ON
[dbo].[Articulo] AFTER UPDATE AS
		IF(UPDATE(estado))
			DECLARE @estadoNuevo VARCHAR(20), @artId INT;
			SELECT @estadoNuevo = (SELECT estado FROM INSERTED)
			SELECT @artId = (SELECT artIdPK FROM INSERTED)
			IF(@estadoNuevo = 'aceptado' OR @estadoNuevo = 'rechazado')
				BEGIN
					DELETE FROM Nucleo_Revisa_Articulo
					WHERE artIdFK = @artId;
				END
GO
ALTER TABLE [dbo].[Articulo] ENABLE TRIGGER [TR_AU_BorrarRevisiones]
GO
/****** Object:  Trigger [dbo].[TR_AI_BorrarSolicitud]    Script Date: 10/7/2020 5:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_AI_BorrarSolicitud] ON
[dbo].[Nucleo_Revisa_Articulo] AFTER INSERT AS
BEGIN
	DECLARE @artID INT;
	SELECT @artID = (SELECT artIdFK FROM INSERTED)
	DELETE FROM Nucleo_Solicita_Articulo
	WHERE artIdFK= @artID
	PRINT 'Se borra la tupla en la tabla nucleo solicita articulo'
END
GO
ALTER TABLE [dbo].[Nucleo_Revisa_Articulo] ENABLE TRIGGER [TR_AI_BorrarSolicitud]
GO
USE [master]
GO
